:root { 
--cor-de-fundo:#000000;
--verde:#6fff57;
--branco:#ffffff;
--botao-ativo:#000000;
--botao-inativo:#f70c0c;
--texto-fundo:#ff4800;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: Arial, Helvetica, Sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 40px;
}