:root { 
--cor-de-fundo:#1000f5;
--verde:#6fff57;
--branco:#ffffff;
--botao-ativo:#000000;
--botao-inativo:#f70c0c;
--texto-fundo:#ff4800;
}
body{
    background-color: var(--cor-de-fundo);
}